<h3>{{viewTitle}}</h3>

<form action='/sounds' enctype="multipart/form-data" method="POST" autocomplete='off'>

<input type="hidden" name="_id" value="{{Sounds._id}}">
<div class="form-group">
    <label>Sound Name</label>
    <input type="text" class="form-control" name="soundName"
     name="soundName"required="true" placeholder="Sound Name" value="{{Sounds.soundName}}">
</div>
<div class="form-group">
    <input type="file" class="form-control"\
    name="sound" required="true" placeholder="Choose Sound File" value="{{Sounds.sound}}">
</div>
<div class="form-group">
    <button type="submit" class="btn btn-info">Submit</button>
    <a class="btn btn-secandary" href="/sounds/list">View All</a>
</div>
</form>
