<!DOCTYPE html> 
<script>
	function test () { 

	console.log('worked')
			
	}

</script> 
<h3> <a class="btn btn-secondary" href="/sounds">Create New</a> Sounds List</h3>
<table class ="table table-striped">
    <thead>
        <tr>
            <th>Sound Name</th>
		<th> <a href='/' class = "btn btn-secondary"> Home </a>
        </tr>
    </thead>
    <tbody>
       {{#each list}}
        <tr>
            <td>{{this.soundName}}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="/Sounds/{{this.id}}">Edit</a>
		<a class="btn btn-primary btn-sm"id= "/Sounds/delete/{{this.id}}" 
		onClick="return test()" >   Delete</a>
            </td>
        </tr>
       {{/each}}
        </td>
    </tbody>
    <tbody>
        
       
    </tbody>
</table>
